body {
    margin: 0;
    padding: 0;
    background-color: pink;
    color: #fff;
    font-family: Arial, sans-serif;
}

#logotipo {
  border-radius: 95%;
  border: 9px solid rgb(224, 13, 199);
  width: 310px;
  transition: border-color 0.5s ease-in-out; /* Transición suave */
}
.header {
    position: top;
    z-index: 1;
    text-align: center;
}

.contenedor-imagen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('lotus.jpg');
    background-size: cover;
    filter: blur(6px);
    filter: contrast(8px);
    z-index: -1;
}

.contenido-pagina {
    position: relative;
    z-index: 1;
}

button {
    padding: 15px 20px;
    color: fuchsia;
    border: springgreen;
    border-radius: 50px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    color:  #000;
    background-color: pink;
}

ul {
    list-style-type: none;
    margin: 50px;
    padding: px;
    overflow: none;
    width: fit-content;
}

li {
    float: left;
}

.active {
    background-color: pink;
}

.h3color {
    text-shadow: 1px 1px 2px, 0 0 25px rgb(174, 0, 255), 0 0 5px darkblue;
    text-align: center;
    font-size: 50px;
    color: azure;
  }
  
  .h2color {
    text-shadow: 1px 1px 2px, 0 0 25px rgb(212, 0, 255), 0 0 5px rgb(0, 123, 255);
    text-align: center;
    font-size: 50px;
    color: white;
  }

.neon {
    font-size: 50px;
    color: black;
    text-shadow: 0 0 10px turquoise, 0 0 20px turquoise, 0 0 30px turquoise , 0 0 40px blue, 0 0 70px blue,
        0 0 80px cyan , 0 0 100px cyan, 0 0 150px cyan;
}

.text {
font-size: 35px;
text-decoration: wavy;
text-shadow: 1px 1px 5px, 0 0 28px rgb(255, 0, 187), 0 0 5px rgb(183, 0, 255);
}

.offcanvas-content {
    padding: 20px;
  }
  .offcanvas.active {
    right: 0;
  }
  .content {
    position: relative;
    z-index: -1px;
    padding: 95px;
}
#image-container {
    width: 1480px;
    margin: 30px 0px;
    text-align: center;
    white-space: nowrap;
    display: flex;
}
#image-container2 {
    width: 1480px;
    margin: -350px 0px;
    text-align: center;
    white-space: nowrap;
    display: flex;
}

.carousel-images {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.image {
  min-width: 100%;
  box-sizing: initial;
  text-align: center;
}

.image img {
  border-radius: 49%;
  border: 2px solid #000;
  width: 325px;
  height: 350px;
}

.image:hover img {
    transform: scale(1.1); /* Ajustar el valor según sea necesario */
}

  .contenido-pagina ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .contenido-pagina ul li {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 190px;
    z-index: 1;
  }
  
  .dropdown-content li {
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
